{% extends "games/base.html" %}

{% load static %}

{% block title %}{{ brand }}{% endblock %}

{% block content %}
<div class="page-header header-filter" data-parallax="true"
     style=" background-image: url('{% static 'games/img/canvan.jpeg' %}'); ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">{{ brand }}</h1>
                <h4>Have fun while gaming! PMBOX includes a set of 15 activities with their respective assets to play

                    Would you like to know the activities that the box includes?</h4>
                <br>
                <a href="{% url 'game_list' %}" class="btn btn-danger btn-raised btn-lg">
                    Play now!
                </a>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Working this way is AWESOME!</h2>
                    <h5 class="description">PMBOX emerged from a collaborative project at the University of the Balearic
                        Islands. This product has been created with the purpose of increasing employee happiness and
                        performance.</h5>
                </div>
            </div>

            <div class="features">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-info">
                                <i class="material-icons">chat</i>
                            </div>
                            <h4 class="info-title">Involve the team</h4>
                            <p>PMBOX constains a set of activities that will foster the team conversation</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="material-icons">verified_user</i>
                            </div>
                            <h4 class="info-title">Encourage the team!</h4>
                            <p>Identify potential issues that can affect team happiness and productivity</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="material-icons">fingerprint</i>
                            </div>
                            <h4 class="info-title">Reward your employees</h4>
                            <p>Perform activities that increase employee comfort in projects</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
